<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Onaylıyor Musunuz?</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <p>Siparişiniz İade Edilcek Onaylıyor Musunuz?</p>
            </div>
            <div class="modal-footer">
                        <button type="button" class="btn" @onclick="@ModalCancel">İptal</button>
                        <button type="button" class="btn btn-primary" @onclick=@ModalOk>Onaylıyorum</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClose { set; get; }


    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }
    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }

}
